/*-- scss:defaults --*/
// Base document colors
$body-bg: #222222; // Lighten the background color a bit
$body-color: #F5F5F5; // Use a lighter shade of white for the body text
$link-color: #54c0da; // Use a bright color like gold for links to stand out in dark mode
$navbar-bg: #1a1a1a; // Lighten the navbar background color a bit

// Code blocks
$code-block-bg-alpha: -.6; // Increase the alpha value to lighten the code block background
